<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {%if error%}
    <p style="color:red">Please submit a search term</p>
    <!-- <form class="" action="/formapp/search_form/" method="post">
      <input type="submit" name="" value="返回">

    </form> -->
    {%endif%}
    <form class="" action="/formapp/search/" method="get">
      <input type="text" name="q" value="">
      <input type="submit" name="" value="确定">

    </form>





  </body>
</html>
