<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>练习</title>
  </head>
  <body>


    <h1 style="..." align="center" >用户注册</h1>
    <div style="width:100%;text-align:center">
    <form action="/login/" method="post" align="center">
    <p class="inset">帐&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号<input type="password" name="password" id="password"></p>
    <p></p>
    <p class="inset">E-mail: <input type="email" name="user_email" /></p>
    <p></p>
    <p class="inset">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码<input type="password" name="password" id="password"></p>

    <p class="inset">重新输入<input type="password" name="password" id="password"></p>

    <button type="button" name="button" onclick="register()">注册</button>
    </div>
    </form>

  </body>
</html>
