{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
  <head>
    <meta charset="utf-8">
    <title>DID 注册</title>
  <script type="text/javascript" src = '{% static 'js/register.js' %}'></script>
  </head>
  <body>

<form class="center-in-center" onsubmit="return isNull()" method="post"  >
    <fieldset>
      <div id="legend" class="">
        <legend class=""></legend>
      </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01" id="lname"></label>
          <div class="controls">
            <input type="text" placeholder="name" class="input-xlarge" name="username" id="username" onkeyup="showerror(this.value)">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="control-group">

          <!-- Search input-->
          <label class="control-label"></label>
          <div class="controls">
            <input type="text" placeholder="password" class="input-xlarge" name="password" id="password">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="control-group">

          <!-- Search input-->
          <label class="control-label"></label>
          <div class="controls">
            <input type="text" placeholder="agin" class="input-xlarge" name="agin" >
            <p class="help-block"></p>
          </div>
<input type="text" placeholder="age" class="input-xlarge" name="age" id="age">
        </div><div class="control-group">

          <!-- Select Basic -->
          <label class="control-label"></label>
          <div class="controls">
            <select class="input-xlarge" name="occupation">
      <option>Python</option>
      <option>Java</option>
      <option>HTML</option>
      <option>JS</option>
      <option>C</option>
      <option>Android</option></select>
          </div>
        </div>

    <div class="control-group">

          <!-- Prepended text-->
          <label class="control-label"></label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">^_^</span>
              <input class="span2" placeholder="email" id="prependedInput" type="text" name="email" id="email">
            </div>
            <p class="help-block"></p>
          </div>

        </div>
    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
          </div>
        </div>
    </fieldset>
    {%csrf_token%}
    {% if error %}
    <p>
    <label class="control-label">{{error}}</label>
    </p>
    {% endif%}
    <p><button type="submit" name="button" class="button button-action button-pill" >{{REGISTER}} </button></p>
  </form>

  </body>
</html>
